$flirt: #772b5a;
$red: #d3362f;
$chard: #ffce7a;
$grey: #485459;
$lightgrey: #7C8589;

*{
  transition: .25s ease-in-out all;
  -moz-transition: .25s ease-in-out all;
  -webkit-transition: .25s ease-in-out all;
}

.search-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .inputTxt{
    display: block;
    position:relative;
    width: 700px;
    height: 52px;
    padding: 10px 0px 0px 0px;

    input {
      display:block;
      width:100%;
      height: 42px;
      padding:0px 0px 0px 4px;
      border:none;
      font-size: 16px;
      outline: none;
      line-height: 24px;
      font-weight: 600;
      color: #d8d7da;
      border-bottom:2px solid #ddd;
      background-color: #474371;
      background-image: linear-gradient(-135deg,#474371, rgba(61,57,97,.37));
      transition: background-color 1s;

      &:focus ~ .label,
      &.has-content ~ .label{
        top:-12px;
        left: 2px;
        font-size: 12px;
        line-height: 24px;
        font-weight:600;
        color: #9c99b1;
      }

      &:focus ~ .bar,
      &.has-content ~ .bar{
        width: 100%;
      }

      &:focus,
      &.has-content {
        -webkit-appearance: none;
        background-color: #13121b !important;
        border-bottom:2px solid #fff;
      }
    }

    /* Change autocomplete styles in WebKit */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus, {
      -webkit-text-fill-color: #d8d7da;
      transition: background-color 5000s ease-in-out 0s;
    }

    .label{
      font-family: Helvetica, sans-serif;
      position:absolute;
      top: 19px;
      left: 4px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #9c99b1;
      pointer-events:none;
    }

    .bar{
      display: block;
      position:absolute;
      bottom: 8px;
      left: 0px;
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: linear-gradient(45deg, $red, $chard);
      pointer-events:none;
    }
  }

  .search-button {
    font-family: Helvetica, sans-serif;
    height: 42px;
    background-color: #27243c;
    transition: background-color .3s;
    padding: 0 24px;
    color: #fff;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
      background-color: #3d3961;
    }
  }
}
