$flirt: #772b5a;
$red: #d3362f;
$chard: #ffce7a;
$grey: #485459;
$lightgrey: #7C8589;

*{
  transition: .25s ease-in-out all; 
  -moz-transition: .25s ease-in-out all; 
  -webkit-transition: .25s ease-in-out all;
}

.search-wrapper {
  .inputTxt{
    display: block;
    position:relative;
    width: 100%;
    height: 62px;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 10px 0px;

    input{
      display:block;
      width:100%;
      height: 42px;
      padding:0px 0px 0px 4px;
      border:none;
      font-size: 16px;
      outline: none;
      line-height: 24px;
      font-weight: 600;
      color: $grey;
      border-bottom:2px solid #ddd;
      background: transparent;

      &:focus ~ .label{
        top:-6px;
        left: 2px;
        font-size: 12px;
        line-height: 24px;
        font-weight:600;
        color: $lightgrey;
      }

      &:focus ~ .bar{
        width: 100%;
      }

      &:focus{
        border-bottom:2px solid #fff;
      }
    }

    .label{
      position:absolute;
      top: 19px;
      left: 4px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: $grey;
      pointer-events:none;
    }

    .bar{
      display: block;
      position:absolute;
      bottom: 18px;
      left: 0px;
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: linear-gradient(45deg, $red, $chard);
      pointer-events:none;
    }
  }
}